<div class="container page-content">
  <ng-form name="userForm">
  <div class="panel panel-default">
    <div class="well-sm panel-body form-body">
	  <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="users.edit.username"></label>
        <sc-text name="username"
        required ng-pattern="/^[а-яА-Яa-zA-Z0-9_\.]{5,}$/"
        ng-model="user.username" ng-disabled="isEdit">
        </sc-text>
        <span name="usernameValidationSpan" ng-show="userForm.username.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.subject.$error.required && 'Задължително поле'}}"></span>
      </div>
	  </div>
	  <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.password"></label>
          <input type="password" name="password" class="input-sm form-control" ng-required="true" ng-minlength="8" ng-model="password" />
          <span name="passwordValidationSpan" ng-show="userForm.password.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.subject.$error.required && 'Задължително поле'}}"></span>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.repeatPass"></label>
          <input type="password" name="confirmPassword" class="input-sm form-control" ng-model="confirmPassword">
          <span name="confirmPasswordValidationSpan" ng-show="password != confirmPassword" class="glyphicon glyphicon-warning-sign" title="{{password != confirmPassword && 'Задължително поле'}}"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="users.edit.firstName"></label>
          <sc-text ng-model="user.firstName"></sc-text>
        </div>
	    <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="users.edit.secondName"></label>
          <sc-text ng-model="user.secondName"></sc-text>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="users.edit.lastName"></label>
          <sc-text ng-model="user.lastName"></sc-text>
        </div>
      </div>
      <div class="row">    
        <div class="form-group  col-sm-2">
          <label class="control-label" l10n-text="users.edit.email"></label>
          <sc-text ng-model="user.email"></sc-text>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="users.edit.phone"></label>
          <sc-text ng-model="user.phone"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="control-label" l10n-text="users.edit.address"></label>
          <sc-text-area ng-model="user.address" rows="2"></sc-text>
        </div>
	  </div>	 
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.type"></label>
          <sc-select sc-select="{data: types}" ng-model="type"></sc-select>
	    </div>
      </div>
	
      <div class="row" ng-show="type.id == 2">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.facultyNumber"></label>
  		  <sc-text ng-model="user.facultyNumber"></sc-select>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.course"></label>
          <sc-text ng-model="user.course"></sc-select>
	    </div>
      </div>
	  <div class="row" ng-show="type.id == 4">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="users.edit.title"></label>
	      <sc-select sc-select="{data: titles}" ng-model="user.title"></sc-select>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label" l10n-text="users.edit.department"></label>
		  <sc-select sc-select="{data: departments}" ng-model="user.department"></sc-select>
	    </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button id="saveBtn" type="button" class="btn btn-primary" ng-click="save()" l10n-text="users.edit.save"></button>
          <button id="cancelBtn" type="button" class="btn btn-primary" ng-click="cancel()" l10n-text="users.edit.cancel"></button>
        </div>
      </div>
	</div>
	</div>
    </ng-form>
</div>
