<div class="container page-content">
  <sc-datatable ng-model="users" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="username" title="Потребителско име">
    </sc-column>
    <sc-column data="firstName" title="Име">
    </sc-column>
    <sc-column data="secondName" title="Презиме">
    </sc-column>
    <sc-column data="lastName" title="Фамилия">
    </sc-column>
    <sc-column>
      <button type="button" class="btn-xs btn-info" ng-click="editUser(item)" l10n-text="users.search.edit"></button>
    </sc-column>
  </sc-datatable>
  <table id="example"></table>
</div>