<div class="container page-content">
  <div class="well">
  <div class="span8">
      <h1 l10n-text="uLearn.diplomaWorkProposals.subject"></h1>
      <p>{{diplomaWorkProposal.subject}}</p>  
	  <hr>
      <h1 l10n-text="uLearn.diplomaWorkProposals.anotation"></h1>
	  <p>{{diplomaWorkProposal.anotation}}</p>  
	  <hr>
      <h1 l10n-text="uLearn.diplomaWorkProposals.goal"></h1>
      <p>{{diplomaWorkProposal.goal}}</p>  
	  <hr>
      <h1 l10n-text="uLearn.diplomaWorkProposals.problems"></h1>
      <p>{{diplomaWorkProposal.problems}}</p>  
	  <hr>
      <h1 l10n-text="uLearn.diplomaWorkProposals.limitations"></h1>
      <p>{{diplomaWorkProposal.limitations}}</p>  
	  <hr>
      <h1 l10n-text="uLearn.diplomaWorkProposals.term"></h1>
      <p>{{diplomaWorkProposal.term}}</p>
    </div>
  </div>
  <div class="btn-group pull-right">
    <button id="saveBtn" type="button" class="btn btn-primary" ng-click="save()" l10n-text="users.edit.save"></button>
    <button id="cancelBtn" type="button" class="btn btn-default" ng-click="cancel()" l10n-text="users.edit.cancel"></button>
  </div>
</div>