<div class="container page-content">
  <div class="well">
    <div class="span8">

      <h3 l10n-text="uLearn.practiceRatings.title"></h3>
      <table class="table">
        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.subject"></label></td>
          <td class="col-sm-9" >{{practiceRating.subject}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceProposals.trainee"></label></td>
          <td class="col-sm-9" >Динамично добавяме студента тук</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.completion"></label></td>
          <td class="col-sm-9" >{{practiceRating.completion}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.results"></label></td>
          <td class="col-sm-9" >{{practiceRating.results}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.finishedOnTime"></label></td>
          <td class="col-sm-9" >{{practiceRating.finishedOnTime}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.reasons"></label></td>
          <td class="col-sm-9" >{{practiceRating.reasons}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.aquiredSkills"></label></td>
          <td class="col-sm-9" >{{practiceRating.aquiredSkills}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.opinion"></label></td>
          <td class="col-sm-9" >{{practiceRating.opinion}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.overallRatings"></label></td>
          <td class="col-sm-9" >{{practiceRating.overallRatings}}</td>
        </tr>

        <tr>
          <td class="col-sm-3" > <label class="pull-right" l10n-text="uLearn.practiceRatings.recommendations"></label></td>
          <td class="col-sm-9" >{{practiceRating.recommendations}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>