<div class="container page-content">
  <div class="well">


    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="td-padding-left" l10n-text="uLearn.diplomaWorkReviews.component"></th>
                            <th class="text-center " l10n-text="uLearn.diplomaWorkReviews.grade"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.common"></em></td>
                            <td class="col-md-1 " style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.theoretical}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.ownIdeas}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.completion"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.completion}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.style"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.style}}</td>
                        </tr>

                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.realisation"></em></td>
                            <td class="col-md-1" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.structure"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.structure}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.ownIdeas}} </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.ownIdeas}} </td>
                        </tr>

                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.еxperimentalPart"></em></td>
                            <td class="col-md-1" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center"> {{diplomaWorkReview.ownIdeas}} </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                       
                        <tr>
                            <td class="text-right col-md-9"><h4><strong l10n-text="uLearn.diplomaWorkReviews.averageMark"> </strong></h4></td>
                            <td class="text-center text-danger" ><h4>{{averageMarkResult()}}</h4></td>
                        </tr>
                        <tr>
                          <td class="col-sm-3" > <label l10n-text="uLearn.diplomaWorkReviews.generalOpinion"></label></td>
                          <td class="col-sm-9" >{{diplomaWorkReview.duration}}</td>
                        </tr>

                        <tr>
                          <td class="col-sm-3" > <label l10n-text="uLearn.diplomaWorkReviews.questions"></label></td>
                          <td class="col-sm-9" >{{diplomaWorkReview.workPlace}}</td>
                        </tr>
                    </tbody>
                </table>
    <hr>            
    <hr> 

    
  </div>
</div>