<div class="container page-content">
  <div class="well">


    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="td-padding-left" l10n-text="uLearn.diplomaWorkReviews.component"></th>
                            <th class="text-center " l10n-text="uLearn.diplomaWorkReviews.grade"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.common"></em></td>
                            <td class="col-md-1 " style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.theoretical}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.ownIdeas}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1 " style="text-align: center">{{diplomaWorkReview.theoretical}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.ownIdeas}}</td>
                        </tr>

                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.realisation"></em></td>
                            <td class="col-md-1" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.ownIdeas}} </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.ownIdeas}} </td>
                        </tr>

                        <tr>
                            <td class="col-md-9 td-bold"><em l10n-text="uLearn.diplomaWorkReviews.еxperimentalPart"></em></td>
                            <td class="col-md-1" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.ownIdeas"></em></td>
                            <td class="col-md-1" style="text-align: center"> {{diplomaWorkReview.ownIdeas}} </td>
                        </tr>
                        <tr>
                            <td class="col-md-9 td-padding-left"><em l10n-text="uLearn.diplomaWorkReviews.theoretical"></em></td>
                            <td class="col-md-1" style="text-align: center">{{diplomaWorkReview.theoretical}}  </td>
                        </tr>
                       
                        <tr>
                           <td class="text-right col-md-9"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$31.53</strong></h4></td>
                        </tr>
                    </tbody>
                </table>



    <div class="btn-group pull-right">
      <button id="saveBtn" type="button" class="btn btn-primary" ng-click="save()" l10n-text="users.edit.save"></button>
      <button id="cancelBtn" type="button" class="btn btn-default" ng-click="cancel()" l10n-text="users.edit.cancel"></button>
    </div>
  </div>
</div>