<div class="container page-content">

  <form name="practiceProposalForm" novalidate class="form-horizontal well" role="form">
    <div class="form-group">
      <label class="control-label col-sm-3" for="company" l10n-text="uLearn.practiceProposals.company"></label>
      <div class="col-sm-7">
        <sc-text ng-model="practiceProposal.company" id="company"></sc-text>
      </div>  
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="companyInfo" l10n-text="uLearn.practiceProposals.companyInfo"></label>
      <div class="col-sm-7">
        <sc-text ng-model="practiceProposal.companyInfo" id="companyInfo"></sc-text>
      </div>  
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="trainee" l10n-text="uLearn.practiceProposals.trainee"></label>
      <div class="col-sm-7">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li role="presentation">Пещо</li>
          <li role="presentation">Ицо</li>
          <li role="presentation">Крис</li>
        </ul>
      </div>  
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="subject" l10n-text="uLearn.practiceProposals.subject"></label>
      <div class="col-sm-7">
        <sc-text ng-model="practiceProposal.subject" id="subject"></sc-text>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="anotation" l10n-text="uLearn.practiceProposals.anotation"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.anotation" id="anotation" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="goal" l10n-text="uLearn.practiceProposals.goal"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.goal" id="goal" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="tasks" l10n-text="uLearn.practiceProposals.tasks"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.tasks" id="tasks" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="condition" l10n-text="uLearn.practiceProposals.condition"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.condition" id="condition" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="duration" l10n-text="uLearn.practiceProposals.duration"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.duration" id="duration" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="workPlace" l10n-text="uLearn.practiceProposals.workPlace"></label>
      <div class="col-sm-7">
        <sc-text-area ng-model="practiceProposal.workPlace" id="workPlace" rows="4"></sc-text-area>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group pull-right">
        <button id="saveBtn" type="button" class="btn btn-primary" ng-click="save()" l10n-text="users.edit.save"></button>
        <button id="cancelBtn" type="button" class="btn btn-info" ng-click="cancel()" l10n-text="users.edit.cancel"></button>
      </div>
    </div>

  </form>
 </div>